.example {
    min-height: 56px;
}

.ardado-embed-yellow:hover {
    background: #f8da2c !important;
}

.ardado-embed-black:hover {
    background: #444444 !important;
}

.ardado-embed-white:hover {
    background: #f5f5f5 !important;
}
